@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    position: fixed;
    border-right: 3px solid gray;
    margin: 0px 50% 100% 0px;
    padding: 0px 0px 0px 0px;
    height: 100vw;
    width: auto;
    flex-wrap: nowrap;
    float: left;
    z-index: 1;
    display: block;

}

section {
    margin-bottom: 13px;
}

main {
    display: block;
    position: absolute;
    margin-left: 330px;
    padding: 30px;
    margin-bottom: 110px;
}

p {
    margin-top: 20px;
    margin-left: 20px;
}

article {
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(247, 247, 247);
}

article p {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    display: block;
    text-align: left;
    white-space: pre-line;
    word-wrap: normal;
    line-height: 2;

}

section p {
    color: rgb(100, 100, 100);
}

section ul li {
    margin-top: 20px;
    margin-left: 70px;
    color: rgb(100, 100, 100);
}

header nav ul hr {
    width: 100%;
}

.l {
    margin-left: 50px;
}

header h1 {
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
}

header nav ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: rgb(73, 73, 73);
}

main h1 {
    font-size: 30px;
}

a li {
    transition: color .3s;
}

a {
    text-decoration: none;
}

a li:hover {
    list-style-type: none;
    color: whitesmoke;
}

.sa {
    color: blue;
    border-bottom: 1px solid blue;
    transition: color .3s;
}

.sa:hover {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.sa:active {
    color: black;
    border-bottom: 1px solid black;
}

@media (max-width:790px) {
    header {
        position: relative;
        border-right: 3px solid gray;
        margin: 0px 100% 10% 0px;
        padding: 0px 0px 0px 0px;
        height: 40vw;
        width: 100%;
        flex-wrap: nowrap;
        font-size: 20px;
        overflow-y: scroll;
        border-right: 3px solid gray;
        overflow-x: none;
    }

    main {
        display: block;
        position: relative;
        flex-wrap: nowrap;
        padding: 0px;
        margin-left: -0vw;
        margin-bottom: 110px;
    }

    article {
        border-radius: 5px;
        padding: 10px 0px 10px 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgb(247, 247, 247);
    }
}